In [5]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv(r"C:\Users\samee\OneDrive\Desktop\azzu\sales.csv")

In [ ]:
df.info()

In [11]:
df.head()

,date,platform,product_name,category,sub_category,region,units_sold,unit_price,revenue,discount,...,profit_margin,sentiment_score,day_of_week,month,year,promotion_type,customer_name,customer_age,mobile_number,customer_region
0,2024-12-07,Myntra,Watch,Accessories,Watches,East,14,1583.45,19951.43,10,...,0.23,-0.66,Saturday,12,2024,NaN,Kabir,58,9349568038,East
1,2024-12-31,Amazon,Smartphone,Electronics,Mobiles,East,68,1372.26,83982.40,10,...,0.25,-0.39,Tuesday,12,2024,BOGO,Saanvi,35,9470380032,South
2,2024-12-19,Ajio,Smartphone,Electronics,Mobiles,East,68,112.95,6912.41,10,...,0.37,0.69,Thursday,12,2024,NaN,Vivaan,52,9620919300,North
3,2024-12-10,Ajio,Shirt,Clothing,Topwear,West,74,260.35,15412.45,20,...,0.12,-0.23,Tuesday,12,2024,Coupon,Aarav,32,9767352732,South
4,2024-12-27,Ajio,Smartphone,Electronics,Mobiles,East,23,421.90,9703.76,0,...,0.36,0.88,Friday,12,2024,Coupon,Anaya,44,9356637617,South

In [13]:
print(df.isnull().sum())

date                   0
platform               0
product_name           0
category               0
sub_category           0
region                 0
units_sold             0
unit_price             0
revenue                0
discount               0
final_price            0
marketing_spend        0
holiday_flag           0
customer_rating        0
return_rate            0
stock_available        0
competitor_price       0
delivery_time_days     0
platform_fee           0
profit_margin          0
sentiment_score        0
day_of_week            0
month                  0
year                   0
promotion_type        64
customer_name          0
customer_age           0
mobile_number          0
customer_region        0
dtype: int64

In [15]:
print(df.dtypes)

date                   object
platform               object
product_name           object
category               object
sub_category           object
region                 object
units_sold              int64
unit_price            float64
revenue               float64
discount                int64
final_price           float64
marketing_spend       float64
holiday_flag            int64
customer_rating         int64
return_rate           float64
stock_available         int64
competitor_price      float64
delivery_time_days      int64
platform_fee          float64
profit_margin         float64
sentiment_score       float64
day_of_week            object
month                   int64
year                    int64
promotion_type         object
customer_name          object
customer_age            int64
mobile_number           int64
customer_region        object
dtype: object

In [17]:
print(f"Number of duplicate rows: {df.duplicated().sum()}")

Number of duplicate rows: 0

In [19]:
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])

promotion_type    64
dtype: int64

In [21]:
df['promotion_type'] = df['promotion_type'].fillna('None')

In [23]:
df['date'] = pd.to_datetime(df['date'])

In [25]:
numeric_cols = ['units_sold', 'unit_price', 'revenue', 'discount', 'final_price', 
                'marketing_spend', 'customer_rating', 'return_rate', 'stock_available',
                'competitor_price', 'delivery_time_days', 'platform_fee', 'profit_margin',
                'sentiment_score', 'customer_age']

In [27]:
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [29]:
def detect_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

In [31]:
outlier_columns = ['units_sold', 'unit_price', 'revenue', 'final_price']
for col in outlier_columns:
    print(f"Outliers in {col}:")
    print(detect_outliers(df, col).shape[0])

Outliers in units_sold:
0
Outliers in unit_price:
0
Outliers in revenue:
13
Outliers in final_price:
0

In [33]:
calculated_final = df['unit_price'] * (1 - df['discount']/100)
inconsistent = np.abs(calculated_final - df['final_price']) > 0.01

In [35]:
print(f"Inconsistent final prices: {inconsistent.sum()}")

Inconsistent final prices: 0

In [37]:
calculated_revenue = df['units_sold'] * df['final_price']
inconsistent_revenue = np.abs(calculated_revenue - df['revenue']) > 0.01
print(f"Inconsistent revenue calculations: {inconsistent_revenue.sum()}")

Inconsistent revenue calculations: 294

In [39]:
text_columns = ['platform', 'product_name', 'category', 'sub_category', 'region', 
                'promotion_type', 'customer_name', 'customer_region']

In [41]:
for col in text_columns:
    df[col] = df[col].str.strip()
    df[col] = df[col].str.title()

In [43]:
df['mobile_number'] = df['mobile_number'].astype(str)
invalid_mobile = df['mobile_number'].str.len() != 10
print(f"Invalid mobile numbers: {invalid_mobile.sum()}")

Invalid mobile numbers: 0

In [45]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                300 non-null    datetime64[ns]
 1   platform            300 non-null    object
 2   product_name        300 non-null    object
 3   category            300 non-null    object
 4   sub_category        300 non-null    object
 5   region              300 non-null    object
 6   units_sold          300 non-null    int64
 7   unit_price          300 non-null    float64
 8   revenue             300 non-null    float64
 9   discount            300 non-null    int64
 10  final_price         300 non-null    float64
 11  marketing_spend     300 non-null    float64
 12  holiday_flag        300 non-null    int64
 13  customer_rating     300 non-null    int64
 14  return_rate         300 non-null    float64
 15  stock_available     300 non-null    int64
 16  competitor_price    300 non-null    float64
 17  delivery_time_days  300 non-null    int64
 18  platform_fee        300 non-null    float64
 19  profit_margin       300 non-null    float64
 20  sentiment_score     300 non-null    float64
 21  day_of_week         300 non-null    object
 22  month               300 non-null    int64
 23  year                300 non-null    int64
 24  promotion_type      300 non-null    object
 25  customer_name       300 non-null    object
 26  customer_age        300 non-null    int64
 27  mobile_number       300 non-null    object
 28  customer_region     300 non-null    object
dtypes: datetime64[ns](1), float64(9), int64(9), object(10)
memory usage: 68.1+ KB
None

In [47]:
print(df.isnull().sum())

date                  0
platform              0
product_name          0
category              0
sub_category          0
region                0
units_sold            0
unit_price            0
revenue               0
discount              0
final_price           0
marketing_spend       0
holiday_flag          0
customer_rating       0
return_rate           0
stock_available       0
competitor_price      0
delivery_time_days    0
platform_fee          0
profit_margin         0
sentiment_score       0
day_of_week           0
month                 0
year                  0
promotion_type        0
customer_name         0
customer_age          0
mobile_number         0
customer_region       0
dtype: int64

In [49]:
df.to_csv('cleaned_sales.csv', index=False)