In [2]:
import pandas as pd
import numpy as np

In [4]:
# Load and sort data
df = pd.read_csv('cleaned_sales.csv', parse_dates=['date'])
df = df.sort_values('date')

In [6]:
# Lag Features 
df['lag_units_sold_1'] = df['units_sold'].shift(1)
df['lag_units_sold_7'] = df['units_sold'].shift(7)
df['lag_revenue_1'] = df['revenue'].shift(1)

In [8]:
# Rolling Features
df['rolling_units_7'] = df['units_sold'].rolling(window=7).mean()
df['rolling_units_30'] = df['units_sold'].rolling(window=30).mean()
df['rolling_revenue_7'] = df['revenue'].rolling(window=7).mean()

In [10]:
# Date Features
df['day'] = df['date'].dt.day
df['week'] = df['date'].dt.isocalendar().week
df['quarter'] = df['date'].dt.quarter
df['is_weekend'] = df['date'].dt.weekday >= 5
df['is_month_end'] = df['date'].dt.is_month_end

In [12]:
#Promotion Features
df['has_discount'] = df['discount'] > 0
df['discount_percent'] = (df['unit_price'] - df['final_price']) / df['unit_price']
df['is_promotion'] = df['promotion_type'].notnull()

In [14]:
# Competitor Influence
df['price_gap'] = df['final_price'] - df['competitor_price']
df['price_advantage'] = df['price_gap'] < 0

In [16]:
# Customer Sentiment
df['adjusted_sentiment'] = df['sentiment_score'] * df['customer_rating']
df['high_rating'] = df['customer_rating'] >= 4

In [18]:

# Return Behavior 
df['net_units_sold'] = df['units_sold'] * (1 - df['return_rate'])

In [20]:
# Profit Metrics
df['profit'] = df['revenue'] * df['profit_margin']

In [22]:
# Demand Momentum
df['sales_diff'] = df['units_sold'].diff()

In [24]:
# Regional Match
df['same_region'] = df['region'] == df['customer_region']

In [26]:
# Handle NaNs 
df = df.dropna().reset_index(drop=True)
df.head()

,date,platform,product_name,category,sub_category,region,units_sold,unit_price,revenue,discount,...,discount_percent,is_promotion,price_gap,price_advantage,adjusted_sentiment,high_rating,net_units_sold,profit,sales_diff,same_region
0,2024-12-04,Amazon,Shoes,Footwear,Casual Shoes,West,189,854.85,161565.87,0,...,0.000000,True,-44.00,True,0.45,True,173.88,50085.4197,45.0,False
1,2024-12-04,Meesho,Jeans,Clothing,Bottomwear,East,150,854.90,102588.53,20,...,0.200000,True,-195.98,True,0.39,False,144.00,24621.2472,-39.0,False
2,2024-12-05,Myntra,Shirt,Clothing,Topwear,South,31,1880.73,40811.93,30,...,0.300001,True,-477.69,True,-4.40,True,30.07,9794.8632,-119.0,False
3,2024-12-05,Flipkart,Watch,Accessories,Watches,East,97,336.43,26107.07,20,...,0.199982,True,-163.75,True,3.24,True,95.06,7309.9796,66.0,False
4,2024-12-05,Flipkart,Smartphone,Electronics,Mobiles,West,71,1011.76,71835.22,0,...,0.000000,True,16.44,False,-1.56,False,65.32,22987.2704,-26.0,False